@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  color: white;
  background-color: #8dc92c;
  margin-right: 13rem;
  margin-left: 13rem;
  border-radius: 12px;
  box-shadow: 2px 2px 2px #ff0000;
}

body {
  background-color: rgb(216, 203, 27);
  background-size: cover;
  display: flex;
  flex-wrap: wrap;

  font-family: "Poppins", sans-serif;
  margin: 0;
  padding-top: 3rem;
  padding-left: 13rem;
}

.add {
  background-color: #5fa2da;
  border-radius: 3px;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0.5rem 1rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.note {
  background-color: rgb(5, 5, 5);
  box-shadow: 5px 5px 5px 4px rgba(51, 14, 218, 0.418);
  margin: 20px;
  height: 400px;
  width: 400px;
}

.note .tools {
  background-color: #624ecf;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}

.note .tools button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.note .main {
  background-color: #eee;
  overflow: hidden;
  height: 350px;
  width: 100%;
}

.note textarea {
  color: black;
  text-decoration-style: dotted;
  outline: none;
  font-family: inherit;
  font-size: 1.2rem;
  border: none;
  height: 350px;
  width: 100%;
}

.note .hidden {
  display: none;
}
